{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
    {% if message %}
        <p class="success-message" style="color: red;" role="alert">{{ message }}</p>
    {% endif %}
<div>
    <p>Create ip network {{ netv4.net_prefix }}</p>
    <p>Description: {{ netv4.net_description }}</p>
    <p>Created Date: {{ netv4.net_createdate }}</p>
</div>

<div class="inline-elements">
    <!-- Стандартная кнопка для возврата на предыдущую страницу -->
    <input type="button" onclick="window.history.back();" value="Previous">
    <input type="button" onclick="location.href='/ipnetapp/list/';" value="List networks" />
<!--   <input type="button" onclick="location.href='/ipnetapp/divide/';" value="Split network" /> -->
    <input type="button" onclick="redirectToSplitNetwork({{ netv4.net_id }});" value="Create IP subnet" />
 <!--   <input type="button" onclick="location.href='/ipnetapp/delete/';" value="Delete network" /> -->
    <input type="button" onclick="redirectToIPAdd({{ netv4.net_id }});" value="Create IP address" />
    <input type="button" onclick="DeleteNetwork({{ netv4.net_id }});" value="Delete network" />
<!-- Второй вариант кнопки Delete
    <form method="post" action="{% url 'delete_network' netv4.net_id %}">
        {% csrf_token %}
        <input type="submit" value="Delete network">
    </form> -->
</div>
<h4>List of IP subnets or addresses:</h4>
    <ul>
        {% for network in networks %}
<!--            <li>
             {% with mask=network.net_prefix|cut:"/" %}
                    {% if mask|add:0 > 25 %}
                        <a href="{% url 'ipv4_detail' network.net_id %}">{{ network.net_prefix }} - {{ network.net_description }}</a>
                    {% else %}
                        <a href="{% url 'nets_v4_detail' network.net_id %}">{{ network.net_prefix }} - {{ network.net_description }}</a>
                    {% endif %}
                    {% endwith %}
            </li> -->
            <li><a href="{% url 'nets_v4_detail' network.net_id %}">{{ network.net_prefix }} - {{ network.net_description }}</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for ip_add in ip_adds %}
            <li>{{ ip_add.ip_add }} - {{ ip_add.ip_description }}</li>
        {% endfor %}
    </ul>


<script>
    function redirectToSplitNetwork(netId) {
        window.location.href = `/ipnetapp/net_v4_${netId}/split/`;
    }
</script>
<script>
    function redirectToIPAdd(netId) {
        window.location.href = `/ipnetapp/net_ipv4_${netId}/`;
    }
</script>

<script>
    function DeleteNetwork(netId) {
        window.location.href = `/ipnetapp/net_v4_${netId}/delete/`;
    }
</script>



{% endblock %}