{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<h1>Create Rack</h1>
<form method="post">
 {% csrf_token %}
    <input type="hidden" name="nd_id" value="{{ node.nd_id }}">
<!--   {{ form.as_p }} -->
        <p>
            <label for="nd_rack_num">Rack Number:</label>
            <input type="text" id="nd_rack_num" name="nd_rack_num">
        </p>
        <p>
            <label for="nd_rack_unit">Rack Unit:</label>
            <input type="text" id="nd_rack_unit" name="nd_rack_unit">
        </p>
        <p>
            <label for="nd_rack_type">Rack Type:</label>
            <input type="text" id="nd_rack_type" name="nd_rack_type">
        </p>
    <br><br>
	<input type="submit" value="Split">
</form>

{% endblock %}