{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
    <h3>Create Rack</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.nd_city.id_for_label }}">City:</label>
            <select name="{{ form.nd_city.name }}" id="{{ form.nd_city.id_for_label }}" class="form-control">
                {% for city in cities %}
                    <option value="{{ city.0 }}">{{ city.1 }}</option>
                {% endfor %}
            </select>
        </div>
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}